Package: xyz.skylarmccauley.sileopirate
Name: SileoPirate
Version: 0.2~r1
Depends: firmware (>= 11.0), curl, unzip, zip
Architecture: iphoneos-arm
Description: Raid ye Sileo package manager with me Pirate Speak
Conflicts: xyz.skylarmccauley.sileopirate (<=0.1.9)
Maintainer: TheHacker
Homepage: https://skylarmccauley.xyz/
Depiction: http://skylarmccauley.xyz/hacked-repo/depic/xyz.skylarmccauley.sileopirate/
SileoDepiction: https://skylarmccauley.xyz/hacked-repo/depic/xyz.skylarmccauley.sileopirate/sileo.json
Icon: file:///sileopirate/data/icon.png
Author: TheHacker
Section: Tweaks
