Package: xyz.skylarmccauley.sileopirate
Name: SileoPirate
Version: 0.3
Depends: firmware (>= 11.0), xyz.skylarmccauley.sileopirate.helper, xyz.skylarmccauley.sileopirate.theme, curl, unzip, zip
Architecture: iphoneos-arm
Description: Raid ye Sileo package manager with me Pirate Speak
Conflicts: xyz.skylarmccauley.sileopirate (<=0.1.9), com.hydri.sileoowo, com.hydri.sileowo
Maintainer: TheHacker
Homepage: https://skylarmccauley.xyz/
Depiction: http://apt.skylarmccauley.xyz/depic/xyz.skylarmccauley.sileopirate/
SileoDepiction: https://apt.skylarmccauley.xyz/depic/xyz.skylarmccauley.sileopirate/sileo.json
Icon: https://apt.skylarmccauley.xyz/depic/xyz.skylarmccauley.sileopirate/icon.png
Author: TheHacker
Section: Tweaks
