Package: xyz.skylarmccauley.sileopirate.helper
Name: SileoPirate Helper
Depends: mobilesubstrate
Conflicts: com.hydri.sileoowo, com.hydri.sileowo
Architecture: iphoneos-arm
Description: Arrr! This be another landlubber to help carry out the duties of SileoPirate.
Maintainer: TheHacker
Author: TheHacker
Homepage: https://skylarmccauley.xyz/
Depiction: http://apt.skylarmccauley.xyz/depic/xyz.skylarmccauley.sileopirate.helper/
SileoDepiction: https://apt.skylarmccauley.xyz/depic/xyz.skylarmccauley.sileopirate.helper/sileo.json
Icon: https://apt.skylarmccauley.xyz/depic/xyz.skylarmccauley.sileopirate/icon.png
Section: Tweaks
Version: 1.0.1
